{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-content container">
        <div class="auth-wrapper">
            <div class="auth-card">
                <h1>ثبت‌نام در وبلاگ</h1>
                <p class="subtitle">به جمع ما بپیوندید و مقالات خود را ذخیره کنید.</p>
                
                <form action="{% url "users:register" %}" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label>نام و نام خانوادگی</label>
                        <input type="text" name="username" value="{{ form.username.value|default:'' }}" class="form-control" placeholder="مثال: علی رضایی" required>
                        {% if form.username.errors %}
                            <div class="form-text" style="color: red;">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" name="email" value="{{ form.email.value|default:'' }}" class="form-control" placeholder="example@mail.com" required>
                        {% if form.email.errors %}
                            <div class="form-text" style="color: red;">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <label>رمز عبور</label>
                        <input type="password" name="password1" class="form-control" placeholder="حداقل ۸ کاراکتر" required>
                        {% if form.password1.errors %}
                            <div class="form-text" style="color: red;">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <label>تکرار رمز عبور</label>
                        <input type="password" name="password2" class="form-control" placeholder="حداقل ۸ کاراکتر" required>
                        {% if form.password2.errors %}
                        <div class="form-text" style="color: red;">
                            {{ form.password2.errors }}
                        </div>
                        {% endif %}     
    
                    </div>

                    <button type="submit" class="btn">ایجاد حساب کاربری</button>
                </form>

                <div class="auth-links">
                    قبلاً ثبت‌نام کرده‌اید؟ <a href="{% url "users:login" %}">وارد شوید</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}