{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-content container">
        <div class="split-layout">
            <div class="split-image">
                <img src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?w=600&h=600&fit=crop" alt="درباره من">
            </div>

            <div class="split-text">
                <h1>سلام! من یک توسعه‌دهنده وب هستم</h1>
                <p>من علاقه زیادی به کدنویسی، طراحی رابط کاربری و خلق ابزارهای جدید در بستر وب دارم. سال‌هاست که در زمینه توسعه بک‌اند (با تمرکز روی پایتون و جنگو) فعالیت می‌کنم.</p>
                <p>هدف من از ایجاد این وبلاگ، به اشتراک‌گذاری تجربیاتم با سایر برنامه‌نویسان و یادگیری در کنار هم است. به دنیای من خوش آمدید!</p>
                <a href="static/resume.pdf" download="My_Resume.pdf" class="btn-download-resume">
                        📥 دانلود رزومه من
                </a>
                <a href="contact.html" class="btn">ارتباط با من</a>
            </div>
        </div>
    </main>

{% endblock  %}