{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>وبلاگ من | خانه</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/captcha_style.css' %}">
</head>
<body>

    <!-- هدر -->
    <nav class="navbar">
        <div class="container">
            <a href="{% url "website:home" %}" class="logo">وبلاگ آرش</a>
            <button class="mobile-menu-btn" id="menuToggle">☰</button>
            <div class="nav-links">
                <a href="{% url "website:home" %}" style="color: var(--primary-color);">خانه</a>
                <a href="{% url "blog:blog" %}">مقالات</a>
                <a href="{% url "website:about" %}">درباره من</a>
                <a href="{% url "website:contact" %}">تماس با من</a>
                {% if request.user.is_authenticated %}
                <a href="{% url "users:profile" %}" class="btn btn-sm">{{request.user.get_full_name}}</a>
                {% if request.user.is_staff %}
                <a style="color:#34d399;" href="{% url "panel:dashboard" %}">پنل ادمین</a>
                {% endif %}
                <a style="color:red;" href="{% url "users:logout" %}">خروج</a>
                {% else %}
                <a href="{% url "users:login" %}" class="btn btn-sm">ورود / ثبت‌نام</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock  %}

    <!-- فوتر -->
    <footer class="footer">
        <div class="container">
            <p>© 2024 تمامی حقوق برای این وبلاگ محفوظ است.</p>
        </div>
    </footer>
<script>
    const menuToggle = document.getElementById('menuToggle');
    const navLinks = document.querySelector('.nav-links');
    if(menuToggle) {
        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    }
</script>
</body>
</html>