{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-content container">
        
        <!-- هدر اطلاعات نویسنده -->
        <section class="author-profile-header">
            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=400&h=400&fit=crop" alt="علی رضایی" class="author-profile-avatar">
            <h1 class="author-profile-name">{{author.get_full_name}}</h1>
            <p class="author-profile-bio">توسعه‌دهنده ارشد بک‌اند و علاقه‌مند به زبان پایتون. بیش از ۵ سال تجربه در ساخت سیستم‌های تحت وب با جنگو. در اینجا تجربیاتم را با شما به اشتراک می‌گذارم.</p>
            
            <div class="author-stats">
                <div class="author-stat-item">
                    {{posts|length }}
                    <span>تعداد مقالات</span>
                </div>
                <div class="author-stat-item">
                    {{ total_views }}
                    <span>بازدید کل</span>
                </div>
                <div class="author-stat-item">
                    تاریخ عضویت
                    <span>{{ author.date_joined|date:"Y/m/d" }}</span>
                </div>
            </div>
        </section>

        <!-- لیست مقالات این نویسنده -->
        <section>
            <h2 class="section-title">مقالات منتشر شده توسط {{author.get_full_name}} </h2>
            
            <div class="post-grid">
                <!-- کارت مقاله -->
                {% for post in posts %}
                <article class="card">
                    <img src="{{post.image.url}}" alt="post" class="card-img">
                    <div class="card-content">
                        <div class="card-meta">
                            {% for cat in post.category.all %}
                            <span class="card-category">{{cat.name}}</span>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            <span>👁️ {{post.post_view}} بازدید</span>
                        </div>
                        <h3 class="card-title"><a href="single_blog.html">{{post.title}}</a></h3>
                        <p class="card-excerpt">{{post.content|truncatewords:8}}</p>
                        <div class="card-footer">
                            <!-- Grouping date and like count together -->
                                <div class="footer-info">
                                    <!--<span>{{post.published_date|date:'M d Y'}}</span>-->
                                    
                                <!-- Like count display -->
                                <span class="card-like-count">
                                    <span class="heart-icon">❤️</span> 
                                    <span>{{post.likes.count}}</span> 
                                </span>
                            </div>
                                
                            <a href="{% url "blog:single" slug=post.slug %}" class="read-more">ادامه مطلب ←</a>
                        </div>
                    </div>
                </article>
         
                {% endfor %}
            </div>
        </section>

    </main>

{% endblock %}