{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<main class="main-content container">
    <div class="profile-layout">
        
        <!-- سایدبار پروفایل -->
        <aside class="profile-sidebar">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=200&h=200&fit=crop" alt="User Avatar" class="profile-avatar">
            <h3 class="profile-name">{{request.user.get_full_name}}</h3>
            <p class="profile-email">{{request.user.email}}</p>
            
            <ul class="profile-menu">
                <li><a href="{% url 'users:profile' %}">تنظیمات حساب</a></li>
                <li><a href="{% url 'users:my_posts' %}">پست‌های من</a></li>
                <li><a href="{% url 'users:my_comments' %}" class="active">نظرات من</a></li>
                <li><a href="{% url 'users:logout' %}" class="text-danger">خروج از حساب</a></li>
            </ul>
        </aside>

        <!-- محتوای اصلی: نظرات من -->
        <section class="profile-content">
            <h2>نظرات من</h2>

            <div class="user-comments-list">
                <!-- کامنت اول -->
                {% for comment in comments %}
                <div style="background: var(--bg-color); padding: 20px; border-radius: 12px; border: 1px solid var(--border-color); margin-bottom: 20px;">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                        <span style="font-size: 0.9rem; font-weight: bold; color: var(--text-main);">
                            دیدگاه در مقاله: <a href="{% url "blog:single" slug=comment.post_id.slug %}" style="color: var(--primary-color);">{{comment.post_id.title}}</a>
                        </span>
                        <span style="font-size: 0.8rem; color: var(--text-muted);">{{comment.created_date|naturaltime}}</span>
                    </div>
                    <p style="font-size: 0.95rem; color: #4b5563; line-height: 1.7; margin-bottom: 15px;">
                       {{comment.message|truncatewords:10}}
                    </p>
                    <div style="text-align: left;">
                        <a href="#" style="font-size: 0.85rem; color: #dc2626;">حذف نظر</a>
                    </div>
                </div>
               
                
                {% endfor %}

                <!-- کامنت دوم -->
            </div>
        </section>

    </div>
</main>
{% endblock %}