{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="main-content container">
        <div class="profile-layout">
            
            <aside class="profile-sidebar">
                <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=400&h=400&fit=crop" alt="آواتار کاربر" class="profile-avatar">
                <h3 class="profile-name">{{request.user.get_full_name}}</h3>
                <p class="profile-email">{{request.user.email}}</p>
                
                <ul class="profile-menu">
                    <li><a href="#" class="active">تنظیمات حساب</a></li>
                    <li><a href="{% url "users:my_posts" %}">پست های من</a></li>
                    <li><a href="{% url "users:my_comments" %}">نظرات من</a></li>
                    <li><a href="{% url "users:logout" %}" class="text-danger">خروج از حساب</a></li>
                </ul>
            </aside>

            <section class="profile-content">
                <h2>ویرایش اطلاعات کاربری</h2>
                
                <form action="{% url "users:profile" %}" method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group">
                            <label>نام</label>
                            <input type="text" name="first_name" class="form-control" value="{{request.user.first_name}}">
                        </div>
                        <div class="form-group">
                            <label>نام خانوادگی</label>
                            <input type="text" name="last_name" class="form-control" value="{{request.user.last_name}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" name="email" class="form-control" placeholder="{{request.user.email}}" value="{{ form.email.value|default:'' }}"  style="background-color: #f3f4f6;">
                    </div>

                    <div class="form-group">
                        <label>درباره من (بیوگرافی)</label>
                        <textarea rows="4" class="form-control" placeholder="کمی درباره خودتان بنویسید...">علاقه‌مند به یادگیری برنامه‌نویسی و پایتون.</textarea>
                    </div>

                    <button type="submit" class="btn">ذخیره تغییرات</button>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags|capfirst }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </form>
            </section>

        </div>
    </main>

{% endblock %}